/**
 * Site header
 */

.popup {
  margin-top: 50px;
  display: none;
  position: absolute;
  width: 95%;
  height: 50%;
  opacity: 0%;
  box-shadow: 0px 2px 14px 5px rgba(0,0,0,0.50);
  background-color: $background-color;
  border: 1px solid #979797;
  border-radius: 8px;
  text-align: center;
  background-image: url("../img/az-subtle.png");
  background-size: repeat;
}

.tldr-text{
  font-size: 20px;
  padding-top: 15px;
}

.tldr {
  float: right;
  font-size: 20px;
  padding-top: 50px;
}
.sep-line {
  display: inline;
  margin-left: 25px;
}

.spacing-unit {
  margin-bottom: $spacing-unit;
}

.project-box {
  min-height: 100%;
  padding-bottom: 50px;
}

.blog-box {
  background-color: $background-color;
  background-image: url("../img/az-subtle.png");
  background-size: repeat;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 14px 5px rgba(138,174,213,0.34);
  border-radius: 8px;
  padding: 20px;
}


.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  background-color: $grey-color-dark;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color-blue-dark;
    line-height: $base-line-height;
    text-align: center;
    font-size: $small-font-size;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
    &:not(:first-child):before {
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background-image: url("../img/az-subtle.png");
  background-size: repeat;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: $background-color;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.post {
  background-color: $background-color;
  background-image: url("../img/az-subtle.png");
  background-size: repeat;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 14px 5px rgba(138,174,213,0.34);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: $spacing-unit;
}
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: $base-font-size;
  background-color: $background-color;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 14px 5px rgba(138,174,213,0.34);
  border-radius: 8px;
  padding: 20px;
  margin-right: 84%;
}

.post-list {
  margin-left: 0;
  list-style: none;
  padding-top: 30px;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $very-small-font-size;
  color: $grey-color;
  text-align: right;
}

.post-link {
  display: -webkit-inline-box;
  font-size: $small-font-size;
  padding-top: 50px;
  padding-left: 25%;
  padding-right: 25%;
  width: 100%;
  text-align: -webkit-center;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  color: $text-color-blue;
  display: -webkit-inline-box;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content-resume {
  background-color: $background-color;
  background-image: url("../img/az-subtle.png");
  background-size: repeat;
  margin-left: 50%;
  padding-bottom: 50px;
  font-size: $medium-small-font-size;
  margin-bottom: $spacing-unit;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 14px 5px rgba(138,174,213,0.34);
  border-radius: 8px;
  padding: 25px;
  margin-bottom: $spacing-unit;


  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.post-content-projects {
  background-color: $background-color;
  background-image: url("../img/az-subtle.png");
  background-size: repeat;
  padding-bottom: 50px;
  font-size: $medium-small-font-size;
  margin-bottom: $spacing-unit;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 14px 5px rgba(138,174,213,0.34);
  border-radius: 8px;
  padding: 25px;
  margin-bottom: $spacing-unit;


  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.post-content-about {
  background-color: $background-color;
  background-image: url("../img/az-subtle.png");
  background-size: repeat;
  margin-left: 50%;
  padding-bottom: 50px;
  font-size: $medium-small-font-size;
  margin-bottom: $spacing-unit;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 14px 5px rgba(138,174,213,0.34);
  border-radius: 8px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: $spacing-unit;


  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.post-content {
  font-size: $medium-small-font-size;
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

